@media screen and (min-width: 1401px) and (max-width: 1600px) {

	/* pagewrap */
h2
{
left:34%;
font-size:55px;

}
.wrapper {
 top: 40%;
}

.descr
{
	top:32%;
}
#mcq
{
	height:220px;
	width:240px;
}
#descriptive
{
	top:53%;
	height:260px;
	width:240px;
	
}

.loginText
{
position:fixed;
	top:25%;
	left:48%;	
}

#login-form
{
	position:relative;
	top:30%;
	left:4%;
}

}

@media screen and (max-width: 1400px ) and (max-height:1050px) {

h2
{
left:32%;	
font-size:55px;
}
.wrapper {
 top: 33%;
}
.descr
{
	top:31%;
}
#mcq
{
	height:220px;
	width:240px;
}
#descriptive
{
	top:53%;
	height:260px;
	width:240px;
	
}

.loginText
{
position:fixed;
	top:25%;
	left:48%;	
}

#login-form
{
	position:relative;
	top:40%;
	left:6%;
}
	/* header */
	

}



@media screen and (max-width: 1366px) and (max-height:768px)
{

h2
{
left:30%;	
font-size:57px;
}
.wrapper {
 top:45%;
}
#mcq
{
	height:200px;
	width:240px;
}
#descriptive
{
	top:60%;
	height:200px;
	width:240px;
	
}

#login-form
{
	position:relative;
	top:20%;
	left:5%;
}
	/* header */
	

}

@media screen and (max-width: 1360px) and (max-height:768px)
{

h2
{
left:30%;	
font-size:57px;
}
.wrapper {
 top:45%;
}
#mcq
{
	height:200px;
	width:240px;
}
#descriptive
{
	top:60%;
	height:200px;
	width:240px;
	
}
	/* header */
	

}


@media screen and (max-width: 1280px) and (max-height: 1024px) {

h2
{
left:30%;	
font-size:57px;
}
.wrapper {
 top: 30%;
}
	/* header */
	

}


@media screen and (max-width: 1280px) and (max-height: 960px) {

h2
{
left:30%;	
font-size:57px;
}
.wrapper {
 top: 38%;
}
	/* header */
	

}




@media screen and (max-width: 1280px) and (max-height: 800px) {

h2
{
left:30%;
font-size:57px;
}
.wrapper {
 top: 30%;
}

	/* header */
	

}


@media screen and (max-width: 1280px) and (max-height: 768px) {

h2
{
left:30%;	
font-size:57px;
}
footer 
{
right:5%;
}
.wrapper {
 top: 45%;
}
	/* header */
	

}

@media screen and (max-width: 1280px) and (max-height: 720px) {

h2
{
left:30%;	
font-size:57px;
}
footer 
{
right:5%;
}
.wrapper {
 top: 48%;
}
	/* header */
	#descriptive
{
	
	height:180px;
	
	
}
	

}


@media screen and (max-width: 1152px) and (max-height: 864px) {

h2
{
left:30%;	
font-size:50px;
}
.wrapper {
 top: 39%;
}
	/* header */
.descr
{
	top:31%;
}
	
footer 
{
right:5%;
}
}


@media screen and (max-width: 1024px) and (max-height: 768px) {

h2
{
left:35%;	
font-size:35px;
}
footer 
{
right:8%;
}
.wrapper {
 top: 44%;
}
	/* header */
	

}


/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

h2
{
font-size:65px;
}


}

